@import "tailwindcss";

.light-mode {
  background-color: #ffffff;
  color: #222;
  min-height: 100vh;
  transition: all 0.3s ease;
}

.dark-mode {
  background-color: #121212;
  color: #e4e6eb;
  min-height: 100vh;
  transition: all 0.3s ease;
}

* {
  transition:
    background 0.25s ease,
    color 0.25s ease,
    border 0.25s ease;
}
